.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver);
  width: 1440px;
  height: 121px;
}
.groupItem,
.logo {
  position: absolute;
  cursor: pointer;
}
.logo {
  top: 22px;
  left: 112px;
  display: inline-block;
  width: 147px;
  height: 76px;
}
.groupItem {
  top: 43px;
  left: 41px;
  width: 46px;
  height: 31px;
}
.groupInner,
.rectangleParent {
  position: absolute;
  top: 26px;
  left: 1329px;
  width: 78px;
  height: 69px;
}
.rectangleParent {
  top: 0;
  left: 0;
  width: 1440px;
  height: 121px;
}
.administracionDeMecanicos {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
