.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver);
  width: 1440px;
  height: 121px;
}
.logo {
  position: absolute;
  top: 22px;
  left: 112px;
  display: inline-block;
  width: 147px;
  height: 76px;
}
.groupInner,
.groupItem {
  position: absolute;
  top: 43px;
  left: 41px;
  width: 46px;
  height: 31px;
}
.groupInner {
  top: 26px;
  left: 1329px;
  width: 78px;
  height: 69px;
}
.rectangleDiv,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 121px;
}
.rectangleDiv {
  background-color: var(--color-silver);
  width: 308px;
  height: 143px;
}
.groupChild1,
.groupChild2,
.lineDiv {
  position: absolute;
  top: 70.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 309px;
  height: 1px;
}
.groupChild1,
.groupChild2 {
  top: -0.5px;
}
.groupChild2 {
  top: 142.5px;
}
.cerrarSesin,
.editarPerfil {
  position: absolute;
  top: 21px;
  left: 16px;
  display: inline-block;
  width: 259px;
  height: 28px;
  cursor: pointer;
}
.cerrarSesin {
  top: 93px;
}
.rectangleGroup {
  position: absolute;
  top: 121px;
  left: 1132px;
  width: 308px;
  height: 143px;
  font-size: var(--font-size-5xl);
}
.landingPageProfileMenu {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
