.bienvenidoARepairconnect {
  position: absolute;
  top: 397px;
  left: 49px;
  display: inline-block;
  width: 546px;
  height: 230px;
}
.startPageChild {
  position: absolute;
  top: 146.3px;
  left: 657.3px;
  width: 761.5px;
  height: 856.7px;
}
.startPage {
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: var(--color-black);
  font-family: var(--font-roboto);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageContainer {
    display: flex;
    justify-content: flex-end;
    flex: 50%;
}

.messageContainer {
    display: flex;
    justify-content: flex-start;
    flex: 50%;
    padding: 20px;
}
