/* Navbar.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--color-gainsboro-100);
    color: var(--color-black);
    text-align: center;
}

img {
    padding-left: 10px;
    padding-top: 15px;
}

nav a {
    color: var(--color-black);
    text-decoration: none;
    padding: 20px;
    margin: 0 5px;
}

#logout {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionsContainer {
    display: flex;
    justify-content: flex-end;
    flex: 50%;
}

.logoContainer {
    display: flex;
    justify-content: flex-start;
    flex: 50%;
}

.logo {
  font-size: var(--font-size-17xl);
  padding: 20px;
  margin: 0 5px;
}