.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver);
  width: 1440px;
  height: 121px;
}
.logo {
  position: absolute;
  top: 22px;
  left: 112px;
  display: inline-block;
  width: 147px;
  height: 76px;
}
.groupItem {
  position: absolute;
  top: 43px;
  left: 41px;
  width: 46px;
  height: 31px;
  cursor: pointer;
}
.groupInner,
.logo1 {
  position: absolute;
  top: 26px;
  left: 1329px;
  width: 78px;
  height: 69px;
}
.logo1 {
  top: 22px;
  left: 112px;
  display: inline-block;
  width: 147px;
  height: 76px;
  cursor: pointer;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 121px;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
